//only use for rapid prototyping
//excuse the messiness
//rewrite later

//Preventing Burger Menu FOUC borrowed from Zurb Foundation site
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

//Preventing FOUC End

$font-stack:    Helvetica, sans-serif;
$primary-color: #f2f2f2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//////////////////////
// icon styles  //
//////////////////////

//my style variable
$icon-medium: 150%;
$icon-large:300%;
$icon-small:100%;
$icon-color-ligjt:white;
$icon-color-dark:map-get($foundation-palette, success);
$icon-padding-right:1em;

.icon-medium {
  font-size: $icon-medium;
  color: $icon-color-dark;
}
.icon-large {
  font-size: $icon-large;
  color: $icon-color-dark;
  margin-right:$icon-padding-right;
}

//////////////////////
//event list style  //
//////////////////////


.event {
  padding: 1rem 1rem 1rem 0;
  display: table;
}

.event-date {
  width: 6rem;
  margin: 0 auto 1rem;
  display: table-cell;
  width: auto;

  .event-month {
    margin: 0;
    background: #eee;
    padding: 0.5rem 2rem;
    text-align: center;
  }

  .event-day {
    margin: 0;
    border: 1px solid #eee;
    padding: 0 2rem;
    text-align: center;
    font-size: 2rem;
  }
}

.event-desc {
  padding: 0 0 0 1rem;
  text-align: left;
  display: table-cell;
  vertical-align: top;

  .event-desc-header {
    margin: 0 0 0.5rem 0;
    padding: 0;
  }

  .event-desc-detail {
    margin: 0 0 0.25rem;
    padding: 0;
  }

  .event-desc-time {
    font-weight: bold;
  }

  .rsvp.button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }
}
//////////////////////
// multi-level menu //
//////////////////////


// variables
$accordion-bg: #4d5158;
$accordion-sub-bg: #35383d;
$accordion-separator: #41444a;

// background for main accordion items
.is-accordion-submenu-parent a {
  background: $accordion-bg;
}

// background for sub accordion items
.is-accordion-submenu a {
  background: $accordion-sub-bg;
}

// style for folder icon on subitem anchors without a submenu
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a.subitem::before {
  content: "\f016";
  font-family: FontAwesome;
  //margin-right: 1rem;
}

// changes folder icon to open then accordion is open
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="true"] a {
  &::before {
    content: "\f07c";
    font-family: FontAwesome;
    //margin-right: 1rem;
  }
}

// changes folder icon to closed then accordion is closed
[data-accordion-menu] .is-accordion-submenu-parent[aria-expanded="false"] a {
  &::before {
    content: "\f07b";
    font-family: FontAwesome;
    //margin-right: 1rem;
  }
}

// creates classes for nested elements, sub-item-*
@for $i from 1 through 6 {
  .sublevel-#{$i} {
    text-indent: 0rem + $i;
  }
}

[data-accordion-menu] {
  a {
    color: #fff;
    // sets accodion item separator color
    box-shadow: inset 0 -1px $accordion-separator;
    
    &::after {
      // sets accodion arrow color and direction
      border-color: #fff transparent transparent;
    }
  }
}

// padding for each list item
.menu > li:not(.menu-text) > a {
  padding: 1.2rem 1rem;
}

////////////////////////////////////////////////
// article display, form zurb building blocks //
////////////////////////////////////////////////

.article-content {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  max-width: 100%;
  position: relative;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}

.centered-text {
  text-align: center;
}

.quote-marks {
  font-size: 100px;
  font-family: Garamond;
  color: #777;
}

.move-right {
  position: relative;
  text-align: right;
}

.quote {
  border-radius: 5px;
  p {
    font-weight: 300;
  }
}

@media only screen and (max-width: 40em) {
  .quote p {
    padding-left: 20px;
  }
}

.student {
  margin-left: 25px;
  margin-bottom: 25px;
  .photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 15px;
  }
  p {
    position: relative;
    top: 5px;
    &:nth-child(2) {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 0;
    }
    &:nth-child(3) {
      font-size: 14px;
      font-weight: 400;
      color: #777;
    }
  }
}

.testimonial-wrap {
  float: right;
  max-width: 350px;
}

