{{!-- This is the base layout for your project, and will be used on every page. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>
    <!-- off canvas div start-->
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <!-- off canvas div start end -->
            <!-- Start My Z6full site layout header -->
            <header>
                <nav>
                    <!-- Start Top Bar -->
                    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="example-menu">
                        <div class="row">
                            <div class="top-bar-left">
                                <ul class="dropdown menu" data-dropdown-menu>
                                    <li class="menu-text">AL Web Services RP Sandbox</li>
                                    <li><a href="/styleguide.html">Redesign Style Guide</a></li>
                                    <li class="has-submenu">
                                    <a href="#">Redesign Mockups</a>
                                          <ul class="menu">
                                            <li><a href="#">Mockup 1</a></li>
                                            <li><a href="#">...</a></li>
                                            <!-- add more mockups html pages here -->
                                          </ul>                                  
                                    </li>
                                    <li class="has-submenu">
                                        <a href="#">ZurbF Example</a>
                                        <ul class="submenu menu vertical" data-submenu>
                                            <li><a href="/templates/agency.html">Agency</a></li>
                                            <li><a href="/templates/estate.html">Estate</a></li>
                                            <li><a href="/templates/mag.html">Megazine</a></li>
                                            <li><a href="/templates/marketing.html">Marketing</a></li>
                                            <li><a href="/templates/portfolio.html">Portfolio</a></li>
                                            <li><a href="/templates/product.html">Product</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        
                        </div>
                    </div>
                    <!-- End Top Bar -->
                </nav>
            </header>
            <!-- End My Z6full site layout header -->
            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}} {{> body}}
            <!-- off canvas div end -->
        </div>
    </div>
    <!-- off canvas div end end-->
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>
